openapi: 3.0.1
info:
  title: Cart Actions Endpoints Global Components API
  description: fabric's **Cart API** lets you add, update, and remove items from your Storefront cart, either as a guest user or as a logged-in user. It also provides functionality to merge carts when you switch from guest user to logged-in user, and apply coupons and other attributes (for example, gift wrapping) to the line items. Additionally, the API supports more advanced tasks such as using multiple carts within a B2B organization, sharing carts, and supporting a unified cart experience for multi-region and multi-brand businesses.<p>The Cart API provides high performance, scalability, multi-tenancy, and configurability to the end-to-end order processing actions that start from the item being added to the cart; through the pre-checkout stage that includes billing, shipping, and payment details; to the checkout stage where the order is processed and confirmed by fabric's Order Management System (OMS)
  contact:
    name: Cart Support
    email: support.cnc@fabric.inc
  license:
    name: fabric API License
    url: https://fabric.inc/api-license
  version: 3.0.0
servers:
- url: https://api.fabric.inc/v3
security:
- bearerAuth: []
tags:
- name: Global Components
  description: XM Global Components API allows you to fetch all the live global component data
paths:
  /v2/global-component/live:
    get:
      summary: Get Live Global Components for a Channel
      description: Gets a list of all the live global component data for a specified channel
      operationId: getLiveGlobalComponentsV2
      tags:
      - Global Components
      parameters:
      - in: query
        name: channels
        description: Comma-separated list of channel IDs
        schema:
          type: string
          default: '12'
      - $ref: '#/components/parameters/XSiteContent'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Components'
              examples:
                LiveComponents:
                  $ref: '#/components/examples/globalComponentsExample'
                NoLiveComponents:
                  summary: No Live Components
                  value: []
        '500':
          description: Request was received but an internal error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: INTERNAL_SERVER_ERROR
                message: An internal error occurred. Contact support@fabric.inc. if issue persists
components:
  schemas:
    Components:
      type: array
      description: List of components
      items:
        type: object
        description: Component data
        properties:
          _id:
            type: string
            description: Virtual ID associated with the component
          id:
            type: string
            description: Identifier used in the UI by the component
          params:
            type: object
            description: Attached fields and values of the component
            additionalProperties: true
        additionalProperties: true
    Error:
      type: object
      description: Server error response object
      properties:
        code:
          type: string
          description: Code associated with the type of server error
        message:
          type: string
          description: Message associated with the server error
      required:
      - code
      - message
  examples:
    globalComponentsExample:
      summary: Live Components Exist
      value:
      - _id: 60896f629aa7f1000744030b
        id: RailNavigation
        params:
          homeLinkText: Home
          sections:
          - sectionTitle: Get Started
            sectionLink: /start
            subsections:
            - subSectionTitle: What is fabric?
              subSectionLink: /what-is-fabric
              components: []
            components: []
          title: Title
        order: 1
      - _id: 608ad8760536ac00074bec45
        id: CustomHeader
        params:
          developerSectionText: developerSectionText
          developerSectionLinks:
          - title: Knowledge Base
            description: Get started
            link: https://fabric.inc/knowledgebase
            components: []
          - title: API documentation
            description: Customize without limits
            link: https://api.fabric.inc/
            components: []
        order: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'This is the authorization token used to authenticate the request. You must pass the access token generated from the system app. For more information, see the [Making your first API request](/v3/api-reference/getting-started/getting-started-with-fabric-apis#procedure) section.

        '
